button{
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 15px;
  overflow: hidden;
}

button:hover{
  scale: 1.1;
  transition: 0.1s;
  transform: rotate(7deg);
}

.choiceButtons{
  display: flex;
  justify-content: center;
}

.container{
  background-color: whitesmoke;
  height: 20%;
  width: 90%;
}

.containerChoice{
  height: 40%;
  width: 90%;
}

.choiceRow{
  margin-top: 10%;
  padding: 20px;
}

.textoResultado{
  display: flex;
  justify-content: center;
}

.row{
  display: flex;
  flex-direction: row;
}